@font-face {
  font-family: 'BobFont';
  src: url('../fonts/bob-font.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

img {
  height: 350px;
  width: 350px;  
  border-radius: 50%;
}

#container {
  font-family: 'BobFont';
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
  background-color: yellow;
  align-items: center;
  margin-top: 25px;
  border: solid red 5px;
  padding: 10px 15px;
}